@import './assets/Inter/inter.css';
@import 'qbs-vue-ui/src/style.css';

@layer components {
  .prose-f {
    @apply break-all
		max-w-none
		prose
		prose-code:break-all
		prose-code:whitespace-pre-wrap
		prose-img:border
		prose-img:rounded-lg
		prose-sm
		prose-table:table-fixed
		prose-td:border
		prose-td:border-gray-300
		prose-td:p-2
		prose-td:relative
		prose-th:bg-gray-100
		prose-th:border
		prose-th:border-gray-300
		prose-th:p-2
		prose-th:relative;
  }
}
.separator-grid {
  height: 35px;
}

.separator-grid > div {
  position: relative;
  height: 100%;
}

.separator-grid > div:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(219, 229, 250, 1); /* Light gray (tailwind gray-300) */
}
.event-submit-button {
  @apply !bg-btn_primary !text-white hover:!text-white;
}

.qbs-vue-checkbox:checked {
  @apply !text-primary;
}
.qbs-vue-switch:enabled:checked {
  @apply !bg-primary;
}
.qbs-vue-switch-selected {
  @apply !bg-primary;
}
.fc-button-primary {
  @apply !bg-btn_primary;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover */
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(45, 45, 45, 0.05);
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: rgba(45, 45, 45, 0.5);
}

/* Custom Scrollbar for Firefox */
* {
  scrollbar-width: 3px; /* Width of the scrollbar (thin or auto) */
  scrollbar-color: #f3f3f3 #ffffff; /* Thumb color and track color */
}
.canvasjs-chart-credit {
  display: none;
}
.table-container {
  max-height: 300px; /* Set max height for the table body */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-container table {
  border-collapse: collapse;
  width: 100%; /* Ensure table takes full width */
}

.table-container thead th {
  position: sticky; /* Make header sticky */
  top: 0; /* Stick it to the top */
  z-index: 2; /* Ensure it stays above tbody rows */
  background-color: #f3f4f6; /* Optional: Add background color to header */
}

.bg-maingradient {
  background: linear-gradient(
      180deg,
      rgba(220, 227, 254, 0.25) 0%,
      rgba(228, 197, 245, 0.25) 100%
    ),
    #f8f8f8;
}
.sideBar_shadow {
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 9px 42px 0px rgba(0, 0, 0, 0.09);
}

.sidemenu-header-menu {
  border-radius: 10px;
  background: rgba(34, 34, 34, 0.05);
  display: flex;
  padding: var(--padding-spacing_xsmall, 8px);
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.sidemenu-item :hover {
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 9px 42px 0px rgba(0, 0, 0, 0.09);
}
.dash_tile {
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: linear-gradient(
    103deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
}
